
@{
    ViewData["Title"] = "Help";
}
<h1>Help</h1>
<!DOCTYPE html>
<html>
<head>
    <style>
        .image-container {
            text-align: center; /* Center horizontally */
        }

            .image-container img {
                display: block; /* Remove default inline alignment */
                margin: 0 auto; /* Center horizontally */
            }
    </style>
</head>
<body>
    <div class="image-container">
        <img src="~/images/11.jpg" style="width: 80%;">
    </div>
</body>
</html>



