@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<div style="text-align: center;">
<img src="~/images/9.jpg" alt="Image Description" style="width: 100%;" />
   
<p>Use this page to detail your site's privacy policy.</p>
</div>